---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="{% cycle 'odd', 'even' %}">
        <span class="post-num">{{forloop.index}}</span>

        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        <div class="excerpt">
          {{ post.excerpt }}
          <a class="read-link" href="{{ post.url | relative_url }}">Read &#8594;</a>
        </div>
      </li>
    {% endfor %}
  </ul>

</div>
